:root {
    --fs-h1: 5.5rem;
    --fs-h2: 2.25rem;
    --fs-p: 1.75rem;
    --fs-link: 1.75rem;
}

body {
    margin: 0;
    background: white;
}

button {
    background: black;
    border: none;
    cursor: pointer;
    /* Text */
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

button:hover {
    background: rgb(75, 75, 75);
}

/* Section: Title */
section#title {
    height: 100vh;
    background: url(../img/background.jpg);
    background-position: 80% 55%;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Text */
    color: white;
}

section#title p {
    margin-bottom: -15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: var(--fs-p);
}

section#title h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: var(--fs-h1);
}

section#title h2 {
    margin: -25px 0 10px 200px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: var(--fs-h2);
}

/* Header */
.header {
    width: 35em;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    transition: ease 0.5s;
}

.pinned {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}

.opaque {
    background: rgb(255, 255, 255);
    height: 2em;
}

.header > .link {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: var(--fs-link);
    color: white;
    transition: ease 0.5s;
}

.header > .link:hover {
    cursor: pointer;
    color: black;
}

.header > .pinned-link {
    color: black;
    
}

/* Content */
#website-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section: Projects */
section#projects {
    padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(2, calc(0.67 * 45vw));
    gap: 15px;
}

section#projects > .project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#section#projects > .project a {
    height: 100%;
    width: 100%;
}

section#projects > .project .thumbnail {
    transition: 0.3s ease;
    width: 45vw;
    height: calc(0.67 * 45vw);
}

section#projects > .project .thumbnail:hover {
    opacity: 0;
}

section#projects > .project > .title {
    position: absolute;
    z-index: -1;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--fs-h2);
}

/* Section: About */
section#about {
    padding-top: 10vh;
}

section#about > .container {
    width: 75vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    padding: 3vh 0vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh; 
}

section#about p {
    margin: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: calc(0.8 * var(--fs-p));
}

section#about #intro {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

section#about #skills {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

section#about #skills > .container {
    width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

section#about #skills .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section#about #skills .row#row-three {
    width: 60%;
}

section#about #skills .skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Text */
    font-size: 30px;
}

section#about #skills .caption {
    font-weight: 400;
    font-size: 0.65em;
}

section#about #resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9em;
}

section#about #resume button {
    width: 5em;
    height: 1.75em;
}

/* Section: Contact */
section#contact {
    padding-top: 10vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 0.75vh;
    margin-bottom: 7vh;
}

section#contact > p {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: calc(1.25 * var(--fs-p));
}

section#contact > form {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

section#contact > form > .row {
    display: flex;
    width: 100%;
}

section#contact > form > .row#top {
    justify-content: space-between;
    gap: 1vw;
}

section#contact > form input {
    height: 2rem;
}

section#contact > form input,
section#contact > form textarea {
    width: 100%;
    border: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    /* Text */
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

section#contact > form input::placeholder,
section#contact > form textarea::placeholder {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

section#contact > form #message-input {
    height: 20rem;
    padding-top: 0.75%;
}

section#contact > #social-networks {
    display: flex;
    align-items: center;
    gap: 2vw;
}

section#contact > #social-networks > p {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: calc(0.75 * var(--fs-p));
}

section#contact #social-icons {
    display: flex;
    gap: 1.5vw;
}

section#contact #social-icons > a {
    color: black;
}

section#contact #social-icons > a:hover {
    color: rgb(75, 75, 75);
}

/* Section: Footer */
section#footer {
    height: 12vh;
    background: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#footer a {
    color: black;
}

/* Media Queries */
@media (min-width: 140em) {
    section#title {
        background-size: cover;
    }
}

@media (max-width: 75em) {
    section#projects {
        display: flex;
        flex-direction: column;
    }

    section#projects > .project {
        width: 80vw;
        height: calc(0.67 * 80vw);
    }

    section#projects > .project .thumbnail {
        transition: 0.3s ease;
        width: 80vw;
        height: calc(0.67 * 80vw);
    }
}

@media (max-width: 52em) {
    section#contact #social-networks {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section#contact #social-icons {
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 35em) {
    :root {
        --fs-h1: 3.75rem;
        --fs-h2: 1.75rem;
        --fs-p: 1.5rem;
        --fs-link: 1.25rem;
    }

    section#title h2 {
        margin-top: -15px;
        margin-left: 110px;
    }
    
    .header {
        width: 25em;
    }

    section#about #skills > .container {
        width: 20em;
    }

    section#about #skills .skill {
        font-size: 24px;
    }
} 

@media (max-width: 22em) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 1.5rem;
        --fs-p: 1.25rem;
        --fs-link: 1rem;
    }
    
    section#title h2 {
        margin-top: -15px;
        margin-left: 90px;
    }

    .header {
        width: 20em;
    }

    section#about #skills > .container {
        width: 15em;
    }

    section#about #skills .skill {
        font-size: 18px;
    }
} 
