body {
    margin: 0;
    background: white;
}

/* Title  */
#title {
    height: 100vh;
    background: url(./img/background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    animation-name: background-animation;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes background-animation {
    0% { background-position: 0% 55% }
    50% { background-position: 100% 55% }
    100% { background-position: 0% 55% }
}

#title p {
    margin-bottom: -20px;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

#title h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: white;
}

#title h2 {
    margin-top: -25px;
    margin-bottom: 10px;
    margin-left: 225px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: white;
}

/* Nav */
.nav {
    width: 35%;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    transition: ease 0.5s;
}

.pinned {
    position: fixed;
    top: 0;
    width: 100%;
}

.link {
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    transition: ease 0.5s;
}

.link:hover {
    color: black;
}

.pinned-link {
    color: rgb(145, 145, 145);
}

.current {
    color: black;
}

/* Content */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Projects */
#projects {
    height: 100vh;
}

/* About */
#about {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    border-top: 1px solid black;
    padding-top: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

#about p {
    margin: 0;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#intro {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#skills-container {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 100px 100px;
    column-gap: 5px;
    row-gap: 15px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .skill .caption {
    font-weight: 500;
    font-size: 18px;
}

#resume {
    display: flex;
    gap: 25px;
}

/* Contact */
#contact {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 55vw;
    display: flex;
    flex-direction: column;
}

#title-text p {
    margin: 0;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 27px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    height: 2rem;
}

form input,
form textarea {
    border: 2px solid black;
    /* text */
    padding-left: 5px;
    padding-right: 5px;
    font-size: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

form input::placeholder, 
form textarea::placeholder {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

form .row {
    display: flex;
}

form .row#top {
    justify-content: space-between;
    gap: 45px;
}

.row#top input#name-input {
    flex-grow: 8;
}

.row#top button#submit {
    flex-grow: 1;
    background: black;
    outline: none;
    /* text */
    color: white;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.row#middle input#email-input,
.row#middle input#message-input {
    flex: 1;
}

#socials {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 2vw;
}

#socials p {
    margin: 0;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#socials a {
    color: black;
}

#socials a:hover {
    color: rgb(75, 75, 75);
}