:root {
    --fs-h1: 5.5rem;
    --fs-h2: 2.25rem;
    --fs-p: 1.75rem;
    --fs-link: 1.75rem;
}

body {
    margin: 0;
    background: white;
}

button {
    background: black;
    border: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

button:hover {
    background: rgb(75, 75, 75);
}

/* title */
#title {
    height: 100vh;

    /* background: skyblue; */
    background: url(./img/background.jpg);
    background-position: 80% 55%;
    background-size: auto;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#title p {
    margin-bottom: -15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: var(--fs-p);
}

#title h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: var(--fs-h1);
}

#title h2 {
    margin-top: -25px;
    margin-bottom: 10px;
    margin-left: 200px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: var(--fs-h2);
}

/* nav */
.nav {
    width: 35em;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    transition: ease 0.5s;
}

.pinned {
    position: fixed;
    top: 0;
    width: 100%;
}

.opaque {
    background: rgba(255, 255, 255, 0.568);
}

.link {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: var(--fs-link);
    color: white;
    transition: ease 0.5s;
}

.link:hover {
    color: black;
    cursor: pointer;
}

.pinned-link {
    color: black;
}

/* content */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* projects */
#projects {
    padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(2, calc(0.67 * 45vw));
    gap: 15px;
}

.project {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about */
#about {
    padding-top: 10vh;
}

#about-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    border-top: 1px solid black;
    padding: 3vh 0vh;
    border-bottom: 1px solid black;    
}

#about p {
    margin: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: calc(0.8 * var(--fs-p));
}

#intro {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#skills-container {
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.skill-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#about .skill .caption {
    font-weight: 400;
    font-size: 0.65em;
}

#resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9em;
}

#resume button {
    width: 5em;
    height: 1.75em;
}

/* contact */
#contact {
    padding-top: 10vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 0.75vh;
    margin-bottom: 7vh;
}

#title-text p {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: calc(1.25 * var(--fs-p));
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

form .row {
    display: flex;
}

form input {
    height: 2rem;
}

form input,
form textarea {
    border: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

form input::placeholder,
form textarea::placeholder {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.row {
    width: 100%;
}

.row#top {
    justify-content: space-between;
    gap: 1vw;
}

#name-input {
    width: 100%;
}

#email-input,
#message-input {
    width: 100%;
}

#message-input {
    height: 20rem;
    padding-top: 0.75%;
}

#socials {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#socials p {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: calc(0.75 * var(--fs-p));
}

#social-icons {
    display: flex;
    gap: 1.5vw;
}

#social-icons a {
    color: black;
}

#social-icons a:hover {
    color: rgb(75, 75, 75);
}

/* footer */
#footer {
    height: 12vh;
    background: rgb(231, 231, 231);
}

/* media queries */
@media (min-width: 140em) {
    #title {
        background-size: cover;
    }
}

@media (max-width: 75em) {
    #projects {
        display: flex;
        flex-direction: column;
    }

    .project {
        width: 80vw;
        height: calc(0.67 * 80vw);
    }
}

@media (max-width: 52em) {

    #socials {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #social-icons {
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 35em) {
    :root {
        --fs-h1: 3.75rem;
        --fs-h2: 1.75rem;
        --fs-p: 1.5rem;
        --fs-link: 1.25rem;
    }

    #title h2 {
        margin-top: -15px;
        margin-left: 110px;
    }
    
    .nav {
        width: 25em;
    }

    #skills-container {
        width: 20em;
    }

    .skill {
        font-size: 24px;
    }
} 

@media (max-width: 22em) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 1.5rem;
        --fs-p: 1.25rem;
        --fs-link: 1rem;
    }
    
    #title h2 {
        margin-top: -15px;
        margin-left: 90px;
    }

    .nav {
        width: 20em;
    }

    #skills-container {
        width: 15em;
    }

    .skill {
        font-size: 18px;
    }
} 
